*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fundo{
  width: 100vw;
  height: 100vh;
  background-image: url(/imagem_fundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.conteudo{
  backdrop-filter: blur(10px);
  border-radius: 20px;
  text-align: center;
}
